<!DOCTYPE html>
<html lang="it">

<head>
    <th:block th:replace="~{fragments :: baseHead('Login', null)}"></th:block>
</head>

<body>
    <!-- NAVBAR -->
    <div th:replace="~{fragments :: navbar}"></div>

    <div class="container py-5" style="max-width:480px;">
        <h3 class="mb-4">Accedi</h3>

        <div th:replace="~{fragments :: alerts}"></div>

        <form method="post" th:action="@{/login}">
            <div class="mb-3">
                <label class="form-label">Email</label>
                <input class="form-control" type="text" name="username" placeholder="email" required>
            </div>
            <div class="mb-3">
                <label class="form-label">Password</label>
                <input class="form-control" type="password" name="password" required>
            </div>
            <button class="btn btn-primary w-100" type="submit">Entra</button>
        </form>
        <!-- Tasto Registrati -->
        <div class="mt-3 text-center">
            <span class="text-muted">Non hai ancora un account?</span>
            <a href="/register">Registrati</a>
        </div>


        <div class="mt-3">
            <a href="/" class="btn btn-outline-secondary w-100">Torna alla Home</a>
        </div>
    </div>
    </div>
</body>

</html>